.home {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-color: #00001A;
  margin-top: 2em;
}

.home .home-content {
  color: #fff;
}

.home .today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 50vh;
}

.home .today .day {
  font-weight: 900;
  font-size: 2em;
}

.home .today .day h6 {
  font-size: 1.5em;
  color: #0D9BA8;
}

.home .today .temp {
  text-align: left;
  margin-left: 30%;
  font-size: 1.2em;
  font-weight: 700;
}

.home .today .temp span {
  color: #FA0707;
}

.home .today .today-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .today .today-content div {
  padding: 0.5em;
}

.home .forecast-container {
  display: table-cell;
  width: 100%;
}

.home .forecast-container .forecast {
  min-width: 8em;
  min-height: 50vh;
}

.home .forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.home .forecast-container .forecast .forecast-icon {
  padding: 2em 0;
}

.home .forecast-container .forecast:nth-child(odd) {
  background-color: #262936;
}

.home .forecast-container .forecast:nth-child(even) .forecast-header {
  background-color: #333;
}

.map-container {
  background: #08efffb9;
  position: relative;
  width: 100%;
}

.map-container .map {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.map-container .map-btn {
  position: absolute;
  z-index: 10;
}

.map-container .country {
  fill: #252424;
  stroke: #e3e3e3;
  stroke-width: 0.5;
}

.map-container .selected {
  fill: red;
}

.map-container .country-label {
  color: #fff;
  font-size: 0.5em;
  fill: #FFB961;
}

.map-container .city-circle {
  fill: #FFB961;
  stroke: red;
}

.map-container .temperature-label {
  fill: #fff;
  font-size: 0.7em;
  border: 1em solid red;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navigation {
  background-color: white;
  color: #0D9BA8;
  width: 100%;
  min-height: 20vh;
}

.navigation .navbar {
  min-height: 10vh;
  -webkit-box-shadow: 10px 10px 8px #888888;
          box-shadow: 10px 10px 8px #888888;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

.navigation .navbar .navbar-toggler {
  border: 3px solid #0D9BA8;
  color: #0D9BA8;
}

.navigation .navbar .logo {
  height: 20%;
  width: 150px;
}

.navigation .navbar .search_bar {
  width: 40vw;
  color: #00001A;
}

.navigation .navbar .search_bar .search-form {
  width: 100%;
}

.navigation .navbar .link-items .link {
  color: #0D9BA8;
}

.navigation .navbar .link-items .link:hover {
  opacity: 0.5;
}

.navigation .nav_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-logo {
  display: block;
}
/*# sourceMappingURL=style.css.map */